<!DOCTYPE html>
<html lang = "en">
<%- include('../partials/header') %>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <form action="/search" method="GET">
        <div class="input-group">
            <div class="form-outline">
            <input name="keywords" type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
            </div>
            <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
    <div class="jumbotron text-center">
        <h1>Browse Listings</h1>
    </div>
    <%= posts %>
    
</body>