<!DOCTYPE html>
<html lang = "en">
<%- include('../partials/header') %>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="jumbotron text-center">
        <h1>Welcome to Reuse, Vandy!</h1>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6">
                <h1>About</h1>
                <p>About Reuse,Vandy!</p>
            </div>
            <div class="col-sm-6">
                <h1>Community Guidelines</h1>
                <p>Place rules here</p>
            </div>
        </div>
    </div>
    
</body>