<!DOCTYPE html>
<html lang = "en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Reuse, Vandy!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar-title {
            color: white;
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
        }
    </style>
<head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
        <img src="/image/logo.png" height="200" width="200">
        <ul>
            <li></li>
            <li>
                <h1 class="navbar-title">
                    WELCOME TO REUSE VANDY
                </h1></li><br><br><li>
            <h4 class="navbar-title">Please sign in below:</h4>
        </li>
        </ul>
    </nav><br><br>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="/login" method="POST">
                <div class="form-floating">
                    <label for="floatingInput">Email address</label>
                    <input type="email" name = "email" class="form-control" id="floatingInput" placeholder="name@example.com">
                </div>
                <div class="form-floating">
                    <label for="floatingPassword">Password</label>
                    <input type="password" name = "password" class="form-control" id="floatingPassword" placeholder="Password">
                </div>
                <br>
                <button type="submit" class="w-100 btn btn-lg btn-success">Submit</button>
            </form>
            <br>

            <form action="/signup" method="GET">
                <button class="w-10 btn btn-primary" type="submit">First time user?</button>
            </form>


        </div>
        <div class="col-4"></div>
    </div>

    </body>
</body>