<!DOCTYPE html>
<html lang = "en">
<%- include('../partials/header') %>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="jumbotron text-center">
        <h1>Results</h1>
    </div>
    <%= posts %>
    
</body>