
<%- include('../partials/header') %>
<body id="body">
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Create a Listing</h1>
                    <ol class="breadcrumb">
                        <li><a href="/home">Home</a></li>
                        <li class="active">Sell</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-wrapper">
    <div class="contact-section">
        <div class="container">
            <div class="row">
                <!-- Contact Form -->
                <form id="contact-form" method="POST" action="/sell" role="form">
                <div class="contact-form col-md-6 ">
                    
                    
                        <div class="form-group">
                            <input type="text" placeholder="Listing Name" class="form-control" name="title" id="name">
                        </div>
                        
                        <div class="form-group">
                            <textarea rows="6" placeholder="Description" class="form-control" name="description" id="description"></textarea>   
                        </div>
                        
                        <div class="form-group">
                            <input type="text" placeholder="Asking Price" class="form-control" name="price" id="price">
                        </div>
                                        
                        
                </div>
                <!-- ./End Contact Form -->
                
                <!-- Contact Details -->
                <div class="contact-details col-md-6 ">
                    <div>
                        <h4 class="widget-title">Category</h4>
                            <select class="form-control">
                                <option>Appliances</option>
                                <option>Clothing</option>
                                <option>Electronics</option>
                                <option>Entertainment</option>
                                <option>Educational Materials</option>
                                <option>Furniture</option>
                                <option>Lost Items</option>
                                <option>Other</option>
                            </select>
                    </div>
                    <div>
                        <h4 class="widget-title">Condition</h4>
                            <select class="form-control">
                                <option>New</option>
                                <option>Like New</option>
                                <option>Slightly Used</option>
                                <option>Used</option>
                                <option>Worn</option>
                            </select>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="contact-form col-md-6 ">
                            <br>
                            <a href="#!" class="btn btn-main btn-medium btn-round-full">Upload Images</a>
                        </div>
                        <div class="contact-form col-md-6 ">
                            <button href="#!" class="btn btn-main btn-medium btn-round-full" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
                <!-- / End Contact Details -->
                    
                
            
            </div> <!-- end row -->
        </div> <!-- end container -->
        
    </div>
</section>

<%- include('../partials/footer') %>

<!-- 
    Essential Scripts
    =====================================-->
<!-- Main jQuery -->
<script src="plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.1 -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- Bootstrap Touchpin -->
<script src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
<!-- Instagram Feed Js -->
<script src="plugins/instafeed/instafeed.min.js"></script>
<!-- Video Lightbox Plugin -->
<script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
<!-- Count Down Js -->
<script src="plugins/syo-timer/build/jquery.syotimer.min.js"></script>
<!-- slick Carousel -->
<script src="plugins/slick/slick.min.js"></script>
<script src="plugins/slick/slick-animation.min.js"></script>
<!-- Google Mapl -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script type="text/javascript" src="plugins/google-map/gmap.js"></script>
<!-- Main Js File -->
<script src="js/script.js"></script>
<body id="body">

<!-- 
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="jumbotron text-center">
        <h1>Sell Items</h1>
    </div>
    <div>
        <h2 class="text-center">Create a new listing:</h2>
    </div>

    <form class="form-horizontal" action="/sell" method="POST">
        
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="form-group">
                    <label for="title">Listing title</label>
                    <textarea name="title" class="form-control" rows="1" id="title"
                        placeholder="Enter a title for your listing (i.e. Used Leather Reclining Chair)"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" rows="3" id="description"
                        placeholder="Enter a description for your listing"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="form-group">
                    <label for="price">Asking price</label>
                    <textarea name="price" class="form-control" rows="1" id="price"
                        placeholder="Enter your initial asking price (note that buyers may attempt to negotiate this price)"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="form-group">
                    <label for="sel1">Condition and category:</label>
                    <select class="form-control" id="sel1">
                        <option>(Select condition)</option>
                        <option>New</option>
                        <option>Like new</option>
                        <option>Used</option>
                        <option>Worn</option>

                    </select>
                </div>
                <div>
                    <label class="checkbox-inline"><input type="checkbox" value="">Furniture</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Appliances</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Educational Materials</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Electronics</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Clothes</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Entertainment</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Lost Items</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Other</label>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="form-group">
                    <label for="phone">Phone number (optional)</label>
                    <textarea name="phone" class="form-control" rows="1" id="phone"
                        placeholder="Enter your phone number so buyers can contact you"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 mx-auto">

                <h4>Upload Images</h4>
                <input type="file" name="file" multiple accept="image/x-png,image/gif,image/jpeg">
                <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary" type="submit">Create my listing!</button>
            </div>
        </div>
    </form>

</body> -->
