<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="jumbotron text-center">
        <h1>Sell Items</h1>
    </div>
    <div>
        <h2 class="text-center">Create a new listing:</h2>
    </div>

    <form class="form-horizontal" action="/sell" method="POST">
        
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="form-group">
                    <label for="title">Listing title</label>
                    <textarea name="title" class="form-control" rows="1" id="title"
                        placeholder="Enter a title for your listing (i.e. Used Leather Reclining Chair)"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" rows="3" id="description"
                        placeholder="Enter a description for your listing"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="form-group">
                    <label for="price">Asking price</label>
                    <textarea name="price" class="form-control" rows="1" id="price"
                        placeholder="Enter your initial asking price (note that buyers may attempt to negotiate this price)"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="form-group">
                    <label for="sel1">Condition and category:</label>
                    <select class="form-control" id="sel1">
                        <option>(Select condition)</option>
                        <option>New</option>
                        <option>Like new</option>
                        <option>Used</option>
                        <option>Worn</option>

                    </select>
                </div>
                <div>
                    <label class="checkbox-inline"><input type="checkbox" value="">Furniture</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Appliances</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Educational Materials</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Electronics</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Clothes</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Entertainment</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Lost Items</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Other</label>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="form-group">
                    <label for="phone">Phone number (optional)</label>
                    <textarea name="phone" class="form-control" rows="1" id="phone"
                        placeholder="Enter your phone number so buyers can contact you"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 mx-auto">

                <h4>Upload Images</h4>
                <input type="file" name="file" multiple accept="image/x-png,image/gif,image/jpeg">
                <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary" type="submit">Create my listing!</button>
            </div>
        </div>
    </form>

</body>